/* Basic CSS for the navigation bar */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #home {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-weight: bold;
  }
  
  .links ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  .links ul li {
    display: inline;
  }
  
  .links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
 
  .links {
    float: center;
  }

  .search {
    float: right;
  }

  #company_name {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
  }