/* Basic CSS for the navigation bar */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #home {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
  }
  
  .links ul {
    list-style-type: none;
    /* padding: 0; */
  }
  
  .links ul li {
    display: inline;
  }
  
  .links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    float: left;
    padding-left: 10px;
  }
 
  .links {
    float: left;
    /*padding-left: 1cm;*/
  }

  .search {
    float: right;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
  }

  #glass {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }

  #company_name {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
    float: left;
  }

  #icon {
    float: left;
    width: 25px;
    height: 25px;
  }

  #conditionInput {
    color: rgb(0, 118, 106);
    border-color: white;
    border-style: none;
    padding-right: 10px;
  }

  .query {
    background-color: rgb(0, 118, 106);
    color: white;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 10px;
  }

  /* CSS for thje main page */

  .vertical {
    border-left: 2px solid white;
    height: 150px;
    margin-left: 20px;
    float: left;
  }

  body {
    background-image: url('./Images/Landscape.jpg');
  }

  .container {
    overflow: hidden;
  }

  .headings {
    max-width: 400px;
    overflow: hidden;
    margin-left: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 50px;
  }

  .social_media {
    max-width: 30px;
    margin-left: 10px;
    float: left;
  }

  .social_media img {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
  }

  .description {
    max-width: 300px;
    overflow: hidden;
    margin-left: 80px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
  }

  .book {
    margin-left: 90px;
    background-color: rgb(0, 118, 106);
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    font-size: 12px;
    border-style: none;
  }