/* Basic CSS for the navigation bar */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #home {
    background-color: black;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    font-weight: bold;
  }
  
  #company_name {
    display: inline;
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
    padding-left: 10px;
    float: left;
  }

  #icon {
    float: left;
    width: 25px;
    height: 25px;
  }

  .links {
    display: flex;
  }

  .links ul {
    list-style-type: none;
  }
  
  .links ul li {
    display: inline-block;
  }
  
  .links ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding-left: 10px;
  }

  .links ul li a:hover {
    font-weight: bolder;
    color: red;
  }
 
  .search {
    float: right;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
  }

  #glass {
    width: 20px;
    height: 20px;
    vertical-align: bottom;
  }

  #conditionInput {
    color: rgb(0, 118, 106);
    border-color: white;
    border-style: none;
    padding-right: 10px;
  }

  .query {
    background-color: rgb(0, 118, 106);
    color: white;
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    font-size: 10px;
  }

  /* CSS for thje main page */

  .leftside {
    display: flex;
    flex-direction:column;
  }

  .vertical {
    border-left: 2px solid white;
    height: 150px;
    margin-left: 2%;
    float: left;
  }

  .social_media {
    max-width: 30px;
    margin-left: 1%;
    float: left;
  }

  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }

  .container {
    overflow: hidden;
  }

  .headings {
    max-width: 400px;
    overflow: hidden;
    margin-left: 9%;
    font-weight: bolder;
    font-size: 50px;
  }

  .social_media img {
    width: 25px;
    height: 25px;
    margin-bottom: 20px;
  }

  .description {
    max-width: 300px;
    overflow: hidden;
    margin-left: 9%;
    font-size: 15px;
  }

  .book {
    margin-left: 9%;
    background-color: rgb(0, 118, 106);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px;
    font-size: 12px;
    border-style: none;
    color: white;
  }

  /* CSS for the About Us page */

  .aboutus {
    max-width: 800px;
    overflow: hidden;
    margin-left: 9%;
    font-size: 15px;
  }

  .space {
    float: right;
    width: 28%;
  }

  #ourteam {
    display: flex;
  }
  
  #ourteamtitle {
    max-width: 200px;
    font-size: 50px;
    font-weight: bolder;
    margin-left: 9%;
  }

  #team {
    display: flex;
  }

  .name {
    display: inline;
    font-weight: bold;
  }

  .title {
    font-weight: bold;
    background-color: rgb(47, 80, 174);
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top:5px;
    padding-bottom:5px;
    border-radius: 5px;
    border-color:white;
    font-size:10px;
    font-weight:normal;
  }

  .member {
    margin-left:5%;
    margin-right:5%;
    max-width: 150px;
  }

  .member img {
    width: 25px;
    height: 25px;
    margin-left: -30px;
  }

  .job {
    font-size:10px;
  }

  .name {
    font-size:10px;
  }

  /* CSS for Contact Us Page */
  .container2 {
    display:flex;
    flex-direction:row;
  }

  .contactus {
    font-size:10px;
    margin-left:9%;
  }

  .leftside {
    margin-top:20px;
    display: flex;
    flex-direction:column;
    align-items:center;
    margin-left:1%;
  }

  .central {
    display:float;
    min-width:400px;
    margin-left:5%;
    align-items:center;
  }

  .right {
    display:flex;
    float:right;
    margin-left:5%;
    margin-top: 10%;
    min-width:40%;
    /*align-items:flex-end;*/
    /*margin-right:auto;*/
  }

  form {
    display: flex;
    flex-direction:column;
    /*float:right;*/
  }

  label {
    display: flex;
    font-size:10px;
  }

  .contacts {
    background:none;
    margin-top:8px;
    margin-bottom:8px;
    color:white;
  }

  textarea {
    background:none;
    margin-top:8px;
    margin-bottom:8px;
    color:white;
  }

  #submit_btn {
    color:white;
    background-color: rgb(0, 118, 106);
    border-radius:3px;
    font-size:10px;
    border:none;
    padding-top:5px;
    padding-bottom:5px;
  }